// globals
$font-size-root: 16px;
$shadow-key-ambient-opacity: rgba(85, 85, 85, 0.06);
$shadow-key-penumbra-opacity: rgba(85, 85, 85, 0.03);

// v-card
$card-elevation: 8;

// v-list
$list-dense-content-padding: 12px 0;
$list-dense-icon-margin: 12px;
$list-item-dense-title-font-size: 15px;

// v-data-table
$data-table-regular-header-height: 56px;
